#content input,
select {
    border: solid 2px;
    width: 25%;
}

label {
    display: inline-block;
    width: 70px;
}

#labelType {
    width: 110px;
}

#help {
    color: red;
}

span{
    color: red;
}
