body {
    padding: 20px;
    font-family: Comic Sans MS;
}

#top {
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

#action,
#button,
#h,
#add {
    display: inline-block;
}

#button {
    margin-right: 10px;

}

#button {
    margin-left: 10px;
}

#h {
    width: 75%;
}

p {
    width: 100%;

    text-align: center;
}

#item {
    border: solid 3px;
    width: 25%;
}
